body{
    background-color: red;
}



ul{
    margin-top: 40px;
    list-style: none;
    padding: 2rem;
    
}

li{
    border: 2px solid black;
    margin-top: 30px;
}

h1{
    color: green;
    text-align: center;
    font-size: 6rem;
}

.my_bar{
    border: 2px solid black;
}

.done{
    text-decoration: line-through;
}

.my_box_container{
    background-color: white;
    margin: 0 auto;
    width: 50%;
}

