body{
    background-color: black;
}

.my_list_container{
    background-color: white;
    height: 80%;
    width: 50%;
}

ul{
    margin-top: 40px;
    list-style: none;
    padding: 2rem;
    
}

li{
    border: 2px solid black;
    margin-top: 30px;
}

h1{
    color: blue;
}

.my_input_button{
    margin-left:594px ;
}

.done{
    text-decoration: line-through;
}

