.list{
    background-color: aquamarine;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    text-align: center;
    
}

body{
    background-color: red;
}


h1{
    text-align: center;
}

.adder{
    margin: 0 auto;
}